<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClipView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>365C95131BFD35D90043FD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>365C95271BFD35DA0043FD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>365C95321BFD35DA0043FD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
